*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root{
    --text-color: #000000;
}

body{
    background: linear-gradient(#b3e7b6, #0b6310);
    color: var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 15%;
    transition: all .8s ease;
}

.logo img{
    width: 100%;
    height: auto;
}

.navlinks a{
    display: inline-block;
    margin: 0 25px;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: all .8s ease;
}

.navlinks a:hover{
    color: #b3e7b6;
}

.right-h{
    display: flex;
    align-items: center;
}

.btn-r{
    display: inline-block;
    padding: 12px 28px;
    color: #ffffff;
    background: var(--text-color);
    border-width: 1px 3px 1px 3px;
    border-style: solid;
    border-color: #fff;
    border-radius: 30px;
    margin: 0 25px;
    font-size: 16px;
    font-weight: 400;
    transition: all .7s ease;
}

.btn-r:hover{
    color: #b3e7b6;
    border-color: #b3e7b6;
    transform: scale(1.1) translateY(-5px);
}

#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}

@media(max-width: 1700px){
    header{
        padding: 18px 5%;
    }

    header.sticky{
        padding: 12px 5%;
    }
}

@media(max-width: 1300px){
   
}

@media(max-width: 1110px){
   header{
        padding: 15px 3%;
    }

    header.sticky{
        padding: 10px 2%;
    }
}

@media(max-width: 1010px){
    #menu-icon{
        display: block;
    }

    .navlinks{
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 80px 40px;
        top: 0;
        left: 100%;
        right: 0;
        display: flex;
        flex-direction: column;
        background: linear-gradient(#b3e7b6, #0b6310);
        transition: all .7s ease-in-out;
    }

    .navlinks a{
        display: block;
        padding: 0;
        margin: 0px 0px 38px 0px;
        font-size: 2rem;
        font-weight: 400;
    }

    .navlinks a:hover{
        color: var(--text-color);
        font-size: 2.3rem;
    }

    .navlinks.open{
        left: 0;

    }
}